services:
  - type: web
    name: velion-express-api
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: MONGODB_URI
        sync: false
      - key: NEO4J_URI
        sync: false
      - key: JWT_SECRET
        sync: false
